[submodule "imgui"]
	path = imgui
	url = https://github.com/Flix01/imgui
	branch = imgui_with_addons
	ignore = dirty
[submodule "ImGuiColorTextEdit"]
	path = ImGuiColorTextEdit
	url = https://github.com/superctr/ImGuiColorTextEdit
	branch = mmlgui
[submodule "ctrmml"]
	path = ctrmml
	url = https://github.com/superctr/ctrmml
[submodule "libvgm"]
	path = libvgm
	url = https://github.com/ValleyBell/libvgm
